@charset "utf-8";
/* CSS Document */

/*instalacion de fuentes*/
@font-face{
	scr:url("../font/aero.ttf"),url("../fonts/aero.woff");
	font-family: "font1"
}

a img{
	border:none;
}
h1,h2{
	font-family: "font1"
}
p{
	font-family: "Inria Serif"

}
#galeria{
	list-style-type:none;
	margin:0 auto;
	width: 500px;	
}
#galeria li{
	float:left;
}
.img2{
	width:100px;
	height:75px;
}
.miniatura{
	filter: blur(10px);
}
